.NextSong__wrapper {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #4D25AE;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.NextSong__image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}