.controls__wrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  background-color: rgba(
    15,
    13,
    32,
    0.9
  ); /* Темный фон с немного прозрачностью */
  border-radius: 8px; /* Закругленные края */
  z-index: 100;
}
.controls {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
}

.controls__btn img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.controls__btn img:hover {
  transform: scale(1.1);
}

.progress__bar {
  flex: 3;
  height: 8px;
  width: 60%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
}

.progress {
  height: 100%;
  background: #fff;
  border-radius: 4px;
}

.volume-control {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 10px;
}

.volume-control input[type="range"] {
    width: 80%;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #FE476E;
    height: 8px;
    border-radius: 5px;
    outline: none;
    transition: background 0.2s ease;
  }
  
  .volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
  }
  
  .volume-control input[type="range"]::-webkit-slider-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
    transform: scale(1.2);
  }
